@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trainers Manager</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Trainers Manager Website</h2>
        <p>
            Trainers Manager is our idea of selecting and guiding the proper trainers in order to create a 
            generation of students that will be more than worthy to take on tasks and jobs from all over the
            world with ease and always be ready to pass any test or difficulty that will be headed their
            way in the future.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For more information on the classes</h2>
        <p><a class="btn btn-default" href="#">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>If you are a trainer</h2>
        <p><a class="btn btn-default" href="#">Click Here &raquo;</a></p>
    </div>
</div>